nav {
	display: flex;
	align-content: space-between;
}

nav > div {
	flex: 1;
}

.search {
	text-align: right;
}

.links {
	text-align: center;
	display: flex;
	align-content: space-around;
}

.links > p {
	flex: 1;
	margin-top: 0;
}
