h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
body {
	background-color: orange;
	font-size: 16px;
}
.container {
	width: 100%;
}
@media all and (min-width:700px) {
	body {
		background-color: green;
	}
	.container {
		width: 96%;
		margin: 0 auto;
	}
}
@media all and (min-width:1000px) {
	body {
		background-color: blue;
	}
	.container {
		width: 1000px;
	}
}